<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div th:fragment="post (post)" class="post-item row justify-content-center">
    <div class="col-6">
        <div class="card">
            <h6 class="card-header">
                <span th:text="${post.poster.username}">Header</span>
                <span th:text="${#calendars.format(post.date, 'HH:mm dd.MM.yyyy')}" class="card-date text-muted">12:00 10.6.2017</span>
            </h6>

            <img style="height: 100%; width:100%; display: block;"
                 th:src="@{/images/{imageId}(imageId=${post.image.id})}"/>


            <div class="card-footer">
                <button type="button" class="like-btn btn btn-danger">❤</button>

                <span th:each="tag : ${post.tags}" class="h6 badge badge-pill badge-info"
                      th:text="${tag.name}">Tag</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>