body {
    background-color: #eee;
}

.card-date {
    float: right;
}

.post-item {
    margin-top: 20px;
}

.container {
    margin-bottom: 100px;
}

.badge {
    font-size: unset;
    margin-top: 5px;
}

.like-btn {
    box-shadow: unset;
    margin: 0 0.5rem 0 0;
    font-size: 2rem;
    padding: 0.1rem 0.5rem;
}

.like-count {
    margin-right: 0.5rem;
}

.like-btn:hover {
    color: #a70500;
    box-shadow: unset;
}

.like-btn:active, .like-btn:focus {
    box-shadow: unset;
}

.card-footer {
    padding: 0;
}

.active-btn {
    color: #a70500;
}

.like-form {
    display: inline-block;
}