.nav-link {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

.nav-link:active, .nav-link:hover, .nav-link:focus {
    color: white;
}

.nav {
    padding: 1.5rem 1rem;
}