body {
    background-color: #eee;
}

.container {

    margin-bottom: 100px;
}

.addfriend-btn {
    box-shadow: unset;
    text-transform: unset;
    font-family: inherit;
    font-size: 1rem;
}

.addfriend-btn:hover {
    color: #187aa3;
    box-shadow: unset;
    background-color: #1F9BCF;
}

.addfriend-btn:focus, .addfriend-btn:active {
    box-shadow: unset;
}

.card-title, .card-subtitle {
    text-transform: unset;
}

.image-block {
    padding: 0;
    margin: 0 0 -1px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.row {
    margin: 0;
}

.col {
    border-top: 0;
    padding: 0;
}

.profile-item {
    margin-top: 20px;
}

.card-subtitle {
    margin-top: 0;
}

.card-title {
    display: inline-block;
}

.following-count {
    text-align: center;
    margin: 0;
}

.follower-count {
    text-align: center;
    margin: 0;
}

.count-field {
    display: flex;
    align-items: center;
}

