<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href=""/>

    <title>cook-a-gram</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"/>

</head>

<body>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3" th:text="${header != null} ? ${header} : 'Error'">Error 404</h1>
        <p class="lead" th:text="${content != null } ? ${content} : 'Something went wrong'">Bad request</p>
        <hr class="my-4"/>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/explore" role="button">Explore</a>
        </p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>