<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href=""/>

    <title>cook-a-gram</title>

    <link rel="stylesheet" href="https://bootswatch.com/4-alpha/lux/bootstrap.min.css"/>

    <link href="../../css/login.css" rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>
</head>

<body>

<div class="container">

    <div th:if="${param.error}" class="alert-dialog alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="alert-dialog-text">Invalid username or password</p>
    </div>

    <div th:if="${message}" class="alert-dialog alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p th:text="${message}" class="alert-dialog-text"></p>
    </div>


    <form class="form-login" method="POST" th:action="@{/authenticate}">
        <h1 class="display-4 form-login-heading">Log in</h1>

        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username"
               required="required" autofocus="autofocus"/>


        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
               required="required"/>

        <p class="form-text text-muted">Don't have an account? <a th:href="@{/signup}">Sign up</a></p>
        <button class="btn btn-primary btn-block" type="submit">Log in</button>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="../../js/login.js" th:src="@{/js/login.js}" type="application/javascript"></script>
</body>

</html>