<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href=""/>

    <title>cook-a-gram</title>

    <link rel="stylesheet" href="https://bootswatch.com/4-alpha/lux/bootstrap.min.css"/>
    <link href="../../css/bootstrap-tagsinput.css" rel="stylesheet" th:href="@{/css/bootstrap-tagsinput.css}"
          type="text/css"/>
    <link href="../../css/post.css" rel="stylesheet" th:href="@{/css/post.css}" type="text/css"/>
    <link href="../../css/navbar.css" rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css"/>

</head>

<body>

<div class="container">
    <div sec:authorize="isAuthenticated()">
        <div th:replace="fragments/navbar :: navbar-auth"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>


    <form class="form-post" method="POST" th:action="@{/posts}" enctype="multipart/form-data">

        <h1 class="display-4 form-post-heading">Post an image</h1>
        <img class="preview-image" id="preview"/>
        <input type="file" name="file" id="inputFile" class="form-control" accept="image/*" required="required"/>
        <input type="text" data-role="tagsinput" name="tags" id="inputTags" class="form-control"
               placeholder="Enter a tag"/>


        <button class="btn btn-primary btn-block" type="submit">Post</button>
    </form>


</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="../../js/bootstrap-tagsinput.min.js" th:src="@{/js/bootstrap-tagsinput.min.js}"
        type="application/javascript"></script>
<script src="../../js/post.js" th:src="@{/js/post.js}" type="application/javascript"></script>
</body>

</html>