<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href=""/>

    <title>cook-a-gram</title>

    <link rel="stylesheet" href="https://bootswatch.com/4-alpha/lux/bootstrap.min.css"/>

    <link href="../../css/profile.css" rel="stylesheet" th:href="@{/css/profile.css}" type="text/css"/>
    <link href="../../css/navbar.css" rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css"/>

</head>

<body>

<div class="container">
    <div sec:authorize="isAuthenticated()">
        <div th:replace="fragments/navbar :: navbar-auth"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>

    <div class="row justify-content-center profile-item">
        <div class="col-6">
            <div class="card">

                <img style="height: 100%; width:100%; display: block; margin-bottom: -1px;"
                     th:src="@{${profileimageurl}}"/>
                <div class="card-block">

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title" th:text="${account.firstname +' '+ account.lastname}">
                                FirstLastname</h5>
                            <h6 class="card-subtitle text-muted" th:text="${account.username}">username</h6>
                        </div>
                        <div class="count-field col-3">
                            <h6 class="follower-count card-title text-info"
                                th:text="${followers!=null} ? |${#sets.size(followers)} followers| : '0 followers'">123
                                followers</h6>
                        </div>
                        <div class="count-field col-3">
                            <h6 class="following-count card-title text-info"
                                th:text="${followings!=null} ? |${#sets.size(followings)} following| : '0 following'">
                                123 following</h6></div>
                    </div>
                </div>

                <form id="follow-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="target" th:value="${account.id}"/>
                    <button id="follow-btn" th:if="${#authentication.name != account.username}" type="submit"
                            th:classappend="${friend} ? 'active' : ''" class="addfriend-btn btn btn-info btn-block"
                            th:text="${friend} ? 'Following' : 'Follow'"></button>
                </form>

                <div class="image-block card-block">
                    <div th:each="postrow : ${posts}" class="row">
                        <div class="col">
                            <a th:if="${postrow[0] != null}" th:href="@{/explore(post=${postrow[0].id})}">
                                <img style="width:100%; display: block;"
                                     th:src="@{/images/{imageId}(imageId=${postrow[0].image.id})}"/>
                            </a>
                        </div>
                        <div class="col">
                            <a th:if="${postrow[1] != null}" th:href="@{/explore(post=${postrow[1].id})}">
                                <img style="width:100%; display: block;"
                                     th:src="@{/images/{imageId}(imageId=${postrow[1].image.id})}"/>
                            </a>
                        </div>
                        <div class="col">
                            <a th:if="${postrow[2] != null}" th:href="@{/explore(post=${postrow[2].id})}">
                                <img style="width:100%; display: block;"
                                     th:src="@{/images/{imageId}(imageId=${postrow[2].image.id})}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="modal fade" id="modal-followers" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-list list-group">
                    <a th:each="follower : ${followers}" th:href="@{/profile(id=${follower.id})}"
                       th:text="${follower.firstname} +' '+ ${follower.lastname} + ' (' + ${follower.username}+')'"
                       class="h5 list-group-item list-group-item-action">Name</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-followings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Following</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-list list-group">
                    <a th:each="following : ${followings}" th:href="@{/profile(id=${following.id})}"
                       th:text="${following.firstname} +' '+ ${following.lastname} + ' (' + ${following.username}+')'"
                       class="h5 list-group-item list-group-item-action">Name</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="../../js/profile.js" th:src="@{/js/profile.js}" type="application/javascript"></script>
</body>

</html>