<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href=""/>

    <title th:text="#{page.signup.title}">cook-a-gram</title>

    <link rel="stylesheet" href="https://bootswatch.com/4-alpha/lux/bootstrap.min.css"/>
    <link href="../../css/signup.css" rel="stylesheet" th:href="@{/css/signup.css}" type="text/css"/>
    <link href="../../css/navbar.css" rel="stylesheet" th:href="@{/css/navbar.css}" type="text/css"/>

</head>

<body>

<div class="container">

    <div sec:authorize="isAuthenticated()">
        <div th:replace="fragments/navbar :: navbar-auth"></div>
    </div>
    <div sec:authorize="isAnonymous()">
        <div th:replace="fragments/navbar :: navbar"></div>
    </div>

    <div th:replace="fragments/languagemenu :: languagemenu"></div>

    <form class="form-signup" method="POST" th:action="@{/accounts}" th:object="${account}">
        <h1 class="display-4 form-signup-heading">Sign up</h1>

        <input type="email" name="email" id="inputEmail" class="form-control" th:placeholder="#{page.signup.email}"
               required="required"
               autofocus="autofocus"/>

        <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label>


        <input type="text" name="firstname" id="inputFirstname" class="form-control"
               th:placeholder="#{page.signup.firstname}"
               required="required"/>

        <label class="error" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname Error</label>


        <input type="text" name="lastname" id="inputLastname" class="form-control"
               th:placeholder="#{page.signup.lastname}"
               required="required"/>

        <label class="error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</label>


        <input type="text" name="username" id="inputUsername" class="form-control"
               th:placeholder="#{page.signup.username}"
               required="required"/>

        <label class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</label>

        <input type="password" name="password" id="inputPassword" class="form-control"
               th:placeholder="#{page.signup.password}"
               required="required"/>

        <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</label>

        <p style="display: inline-block" class="form-text text-muted" th:text="#{page.signup.haveaccount}">Have an
            account?</p> <a th:href="@{/login}" th:text="#{page.signup.haveaccountlink}">Log in</a>
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="../../js/signup.js" th:src="@{/js/signup.js}" type="application/javascript"></script>
</body>

</html>